@model KurumBeniAra
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    KurumDisplayDto result = ViewData["KurumDetay"] as KurumDisplayDto;
    List<KurumYorumDisplayDto> yorums = ViewData["Yorumlar"] as List<KurumYorumDisplayDto>;
}

<div class="row">

    @if (Model != null)
    {
        <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <h4 class="header-title">@result.Ad</h4>
                </div>
                <hr />
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="@ByteToImage.DecodeImage(result.Resim)" class="img-fluid img-thumbnail" style="max-height:400px;max-width:%75" alt="Product-img">
                    </div>
                    <div class="col-md-6">
                        <div class="chart-widget-list mt-1">
                            <p>
                                İl
                                <span class="float-end">@result.ilAdi</span>
                            </p>
                            <p>
                                İlçe
                                <span class="float-end">@result.ilceAdi</span>
                            </p>
                            <p>
                                Web
                                <span class="float-end">@result.Web</span>
                            </p>
                            <p>
                                Email
                                <span class="float-end"><a href="mailto:@result.Email">@result.Email</a></span>
                            </p>
                            <p>
                                Telefon
                                <span class="float-end"><a href="tel:@result.Telefon">@result.Telefon</a></span>
                            </p>
                            <p>
                                Adres
                                <span class="float-end">@result.Adres</span>
                            </p>
                            <p>
                                Görüntülenme Sayısı
                                <span class="float-end">@result.TikSayisi</span>
                            </p>
                            <p class="text-muted mb-0" id="tooltip-container">
                                <strong>Sosyal Medya Hesaplarımız :</strong>
                                <a href="@result.Facebook" class="d-inline-block ms-2 float-end font-20" style="color:#3b5998;" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Facebook" aria-label="Facebook"><i class="uil uil-facebook"></i></a>
                                <a href="@result.Twitter" class="d-inline-block ms-2 float-end font-20" style="color:#00ACEE;" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Twitter" aria-label="Twitter"><i class="uil uil-twitter"></i></a>
                                <a href="https://wa.me/@Html.Raw(result.Whatsapp)" target="_blank" class="d-inline-block ms-2 float-end font-20" style="color:#128C7E;" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Whatsapp" aria-label="Whatsapp"><i class="uil uil-whatsapp"></i></a>
                                <a href="@result.Instagram" class="d-inline-block ms-2 float-end font-20" style="color:#feda75;" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Instagram" aria-label="Instagram"><i class="uil uil-instagram"></i></a>
                            </p>
                            <br />
                            <p class="d-grid">
                                <a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#videoizle-modal">Tanıtım Videosu İzle</a>
                            </p>
                            <p class="d-grid">
                                <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#kurumbeniarasin-modal">Okul Beni Arasın</a>
                            </p>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center">
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("OgretmenKadrosu","Home")" class="btn btn-success btn-sm pt-3 pb-3"><b>Öğretmen Kadrosu</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("EgitimModeli","Home")" class="btn btn-warning btn-sm pt-3 pb-3"><b>Eğitim Modeli</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("Basarilar","Home")" class="btn btn-primary btn-sm pt-3 pb-3"><b>Başarılar</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("Kataloglar","Home")" class="btn btn-danger btn-sm pt-3 pb-3"><b>Kataloglar</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("IcGorseller","Home")" class="btn btn-secondary btn-sm pt-3 pb-3"><b>İç Görseller</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("DisGorseller","Home")" class="btn btn-info btn-sm pt-3 pb-3"><b>Dış Görseller</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("Etkinlikler","Home")" class="btn btn-warning btn-sm pt-3 pb-3"><b>Etkinlikler</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                    <div class="col-5 col-lg-4 col-xl-3 m-1">
                        <div class="row align-items-center">
                            <a href="@Url.Action("Kulupler","Home")" class="btn btn-success btn-sm pt-3 pb-3"><b>Kulüpler</b></a>
                        </div> <!-- end row-->
                    </div> <!-- end col -->
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        @Html.Raw(result.Hakkinda)
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 mb-3">Yorumlar (@ViewData["yorumSayisi"])</h4>
                <form class="form-vertical" asp-action="KurumYorumEkle" asp-controller="Home" method="post">
                    <input type="hidden" value="@result.Id" name="KurumId" />
                    <div class="mb-1">
                        <input class="form-control form-control-light" type="text" name="AdSoyad" id="AdSoyad" required="" placeholder="Adınız ve Soyadınızı Yazınız">
                    </div>
                    <textarea class="form-control form-control-light mb-2" name="Yorum" required placeholder="Mesajınızı yazınız..." id="example-textarea" rows="3"></textarea>
                    <div class="text-end">
                        <div class="btn-group mb-2 ms-2">
                            <button type="submit" class="btn btn-primary btn-sm">Gönder</button>
                        </div>
                    </div>
                </form>

                @if (yorums != null)
                {
                    @if (yorums.Count > 0)
                    {
                        @foreach (var item in yorums)
                        {
                            <hr />
                            <div class="d-flex mb-1 mt-1">
                                <div class="w-100 overflow-hidden">
                                    <small class="float-end">
                                        <div class="rateit" data-id="@item.Id" id="rateitYorum" data-rateit-mode="font" data-rateit-readonly="false" data-rateit-value="@item.BegeniAvarege"></div>
                                    </small>
                                    <h6 class="m-0 font-14">@item.AdSoyad</h6>
                                    <small class="text-muted">@Convert.ToDateTime(item.CreatedDate).ToShortDateString() - @Convert.ToDateTime(item.CreatedDate).ToShortTimeString()</small>
                                </div>
                            </div>
                            <p>@item.Yorum</p>
                        }
                    }
                }
            </div> <!-- end card-body-->
        </div>

    }
    else
    {
        <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
            <strong>Uyarı - </strong> Aradığınız kriterlere uygun kurum bulunamamıştır.
        </div>
    }

</div>

<div id="videoizle-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Tanıtım Videosu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        @Html.Raw(result.TanitimVideo)
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="kurumbeniarasin-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Kurum İletişim Kursun</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form class="form-vertical" data-ajax="true"
                      data-ajax-success="OnKurumAraSuccess"
                      data-ajax-begin="OnKurumAraBegin"
                      data-ajax-complete="OnKurumAraComplete" data-ajax-method="POST" asp-action="KurumBeniArasin" asp-controller="Home">
                    <div class="mb-3">
                        <label for="AdSoyad" class="form-label">Ad Soyad</label>
                        <input class="form-control" type="text" asp-for="AdSoyad" id="AdSoyad" required="" placeholder="Ad Soyad Yazınız">
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="Sinif" class="form-label">Sınıf</label>
                            <select id="Sinif" asp-for="Sinif" class="form-control">
                                <option value="0">Sınıf Seçiniz</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                @if (result.EgitimTurId == 2)
                                {
                                    <option value="Mezun">Mezun</option>
                                }
                            </select>
                        </div> <!-- end col -->
                    </div>
                    <input type="hidden" asp-for="KurumId" value="@result.Id" />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="Telefon" class="form-label">Telefon</label>
                                <input type="tel" asp-for="Telefon" class="form-control" data-toggle="input-mask" data-mask-format="(000) 000-0000" maxlength="14" name="Telefon" id="Telefon" required="" placeholder="Telefon Yazınız">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input class="form-control" type="email" asp-for="Email" id="Email" required="" placeholder="Email Yazınız">
                            </div>
                        </div>
                    </div>
                    <div class="form-check form-switch mb-1">
                        <input type="checkbox" asp-for="KVKK" class="form-check-input" id="KVKK">
                        <label class="form-check-label" for="KVKK">
                            <a href="" data-bs-toggle="modal" data-bs-target="#Kvkk-modal">KVKK Aydınlatma Metnini Okudum, Kabul Ediyorum</a>
                        </label>
                    </div>
                    <div class="d-grid mb-0 text-center">
                        <button class="btn btn-primary" id="btnaddBeniArasin" type="submit"><i class="mdi mdi-plus"></i> Kaydet </button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="Kvkk-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">KVKK Aydınlatma Metni</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="">
                        <p class="text-muted font-11">
                            <b>KVKK AYDINLATMA METNİ</b><br /><br />
                            6698 SAYILI KİŞİSEL VERİLERİN KORUNMASI KANUNU (“KVKK”) USUL VE ESASLARI UYARINCA KİŞİSEL VERİLERİNİZİN KORUNMASI HAKKINDA AYDINLATMA METNİ<br />

                            Veri sorumlusu sıfatı ile sitemiz; hangi kişisel verilerinizi hangi amaçlarla işleyeceğimiz konusunda işbu metin hazırlanmış olup, 6698 sayılı Kişisel Verilerin Korunmasına İlişkin Kanun’a (“KVKK”) uygun olarak kişisel verilerinizin korunması hususunda gerekli önlemlerin alındığını bildiririz.

                            Aşağıda belirttiğimiz kişisel verilerinizi her koşulda hukuka ve dürüstlük kurallarına uygun, doğruluğunu ve en güncel halini koruyarak, belirli, açık ve hukuka uygun amaçlar için, işlenecekleri amaçla bağlantılı, sınırlı ve ölçülü olacak şekilde, ilgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar saklayarak işleyeceğimizi bildiririz.

                            Kişisel verileriniz elektronik ve/veya fiziksel ortamlarda saklanacaktır. Vakfımız tarafından temin edilen ve saklanan kişisel verilerinizin saklandıkları ortamlarda yetkisiz erişime maruz kalmamaları, kaybolmamaları ve zarar görmemeleri amacıyla gerekli teknik tedbirler uygulanarak korunmaktadır.

                            Kişisel verileriniz, size bildirilen amaçlar ve kapsam dışında kullanılmamak kaydı ile gerekli tüm bilgi güvenliği tedbirleri de alınarak işlenecek ve yasal saklama süresince veya böyle bir süre öngörülmemişse işleme amacının gerekli kıldığı süre boyunca saklanacak ve işlenecektir. Bu süre sona erdiğinde, kişisel verileriniz silinme, yok edilme ya da anonimleştirme yöntemleri ile Vakfımızın veri akışlarından çıkarılacaktır.
                            <br />
                            <b>HANGİ KİŞİSEL VERİLERİNİZİ İŞLİYORUZ?</b>

                            Sitemize girerek ilgili formları doldurduktan sonra kişisel veri olan ad-soyad, adres, telefon numarası ve e-posta adresinizi bizlerle paylaşmaktasınız. Bununla birlikte site güvenliğinin sağlanması amacıyla IP adresiniz bizlerle paylaşılabilir.
                            <br />
                            <b>KİŞİSEL VERİLERİNİZİ HANGİ AMAÇLARLA İŞLİYORUZ?</b><br />

                            Yukarıda belirttiğimiz kişisel verileriniz Vakfımızın kuruluş amaçları doğrultusunda yürütülen iş ve işlemlerimizde kullanılmak üzere faaliyetlerimizin yerine getirilmesi, sürdürülebilmesi, geliştirilmesi, istatistiksel verilerin tutulması, her türlü bildirimde bulunulması, projeler hakkında bilgilendirme yapılabilmesi, bültenlerin sizlere gönderilebilmesi, güvenliğin sağlanması, kullanıcıların ve ziyaretçilerin genel anlamda tanımlanması ve kapsamlı şekilde demografik veri toplanabilmesi, gerektiğinde tarafınızla iletişime geçilebilmesi ve tarafınıza daha iyi ve daha güvenilir bilgi verilebilmesi için KVKK’nın 5. ve 6. maddelerinde belirlenen şartlar ve amaçlar dâhilinde işlenmektedir.

                            Veriler yasal sürelere tabi olarak kendi veri tabanlarımızda tamamen ya da kısmen otomatik olan ya da herhangi bir kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilip kaydedilmekte, bulut ortamında ya da fiziki olarak muhafaza edilmektedir.
                            <br />
                            <b>HAKLARINIZ</b><br />

                            KVKK uyarınca kişisel verilerinizin;<br />

                            İşlenip işlenmediğini öğrenme,<br />
                            İşlenmişse bilgi talep etme,<br />
                            İşlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,<br />
                            Yurt içinde veya yurt dışında aktarıldığı 3. kişileri bilme,<br />
                            Eksik veya yanlış işlenmişse düzeltilmesini isteme,<br />
                            Kişisel verilerin silinmesini, yok edilmesini veya anonim hale getirilmesini isteme,<br />
                            Aktarıldığı 3. Kişilere eksik veya yanlış işlenme durumunda düzeltilmesini isteme ve kişisel verilerin silinmesi, yok edilmesi veya anonim hale getirilmesini isteme,<br />
                            Otomatik sistemler ile analiz edilmesi nedeniyle ilgili kişinin aleyhine bir sonucun ortaya çıkması durumunda itiraz etme,<br />
                            KVKK’ya aykırı olarak işlenmesi sebebiyle zarar oluşması durumlarında zararın giderilmesini<br />
                            talep etme hakkına sahip olduğunuzu hatırlatırız.<br />

                            Başvurunuzda yer alan talepleriniz, talebin niteliğine göre en geç otuz gün içinde ücretsiz olarak sonuçlandırılacaktır. Ancak, işlemin Vakıf için ayrıca bir maliyeti gerektirmesi hâlinde, Kişisel Verileri Koruma Kurulu tarafından belirlenen tarifedeki ücret alınabilir.

                            @*Yukarıda belirtilen haklarınızı kullanmak için kimliğinizi tespit edici gerekli belgeler ile KVKK’nın 11. maddesinde belirtilen haklardan kullanmayı talep ettiğiniz haklarınıza yönelik açıklamalarınızı içeren talebinizi “Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğe” göre Armada İş Merkezi Eskişehir Yolu Dumlupınar Blv. No:6 A Blok Kat:12 Ofis:1229 Söğütözü – Yenimahalle/Ankara adresine yazılı olarak bizzat elden, noter kanalıyla veya vekil aracılığı ile gönderebilir veya elektronik posta üzerinden iletisim@temev.org.tr e-posta adresine iletebilirsiniz.*@

                            Vakıf sınırlı hallerde işbu Aydınlatma metni hükümleri dışında kullanıcılara ait bilgileri üçüncü kişilere açıklayabilir. Bu durumlar, Kanun, Kanun Hükmünde Kararname, Yönetmelik v.b. yetkili hukuki otorite tarafından çıkarılan ve yürürlükte olan hukuk kurallarının getirdiği zorunluluklara uyulmasının gerektirdiği haller, yetkili idari ve adli otorite tarafından usulüne göre yürütülen bir araştırma veya soruşturmanın yürütümü amacıyla kullanıcılarla ilgili bilgi talep edilmesi halleri ve kullanıcıların haklarını veya güvenliklerini koruma amacıyla bilgi verilmesinin gerekli olduğu halleridir.
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{

    <script>
        $(window).on('load',
            function () {
                $('#loading').hide();
            });

        $(document).on("click",
            "#rateitYorum",
            function () {
                var deger = $(this).rateit('value');
                var id = $(this).data('id');
                var _url = '@Url.Action("KurumYorumPuanla", "Home")';
                $.ajax({
                    type: "POST",
                    url: _url,
                    data: { deger: deger, id: id },
                    success: function (result) {
                        if (result.Success) {
                            toastr.success(result.Message);
                        }
                        else {
                            toastr.error(result.Message);
                        }
                    }
                });
            });


        var OnKurumAraBegin = function () {
            $("#btnaddBeniArasin").prop("disabled", true);
            $("#btnaddBeniArasin").html('Lütfen Bekleyin...');
            $('#loading').show();
            $('#kurumbeniarasin-modal').modal().hide();
        };
        var OnKurumAraComplete = function () {
            $("#btnaddBeniArasin").prop("disabled", false);
            $("#btnaddBeniArasin").html('<i class="mdi mdi-plus"></i> Kaydet ');
            $('#loading').hide();
        };
        var OnKurumAraSuccess = function (data) {
            if (data.Success) {
                swal({
                    title: 'BAŞARILI',
                    text: "Bilgileriniz kaydedilmiştir. En kısa sürede tarafınıza ulaşılacaktır. Teşekkür ederiz.",
                    type: 'success',
                    confirmButtonClass: 'btn-success',
                    confirmButtonText: 'Tamam',
                }, function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = "/Home/KurumDetay/" + @Html.Raw(result.Id);
                        //toastr.success("Bilgileriniz kaydedilmiştir. En kısa sürede tarafınıza ulaşılacaktır. Teşekkür ederiz.");
                    }
                });
            }
            else {
                swal({
                    title: 'UYARI',
                    text: data.Message,
                    type: 'error',
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Tamam',
                });
            }
        };
    </script>
}
