@model List<KurumDisplayDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">KURUM LİSTESİ</h4>
            <p class="text-muted font-14">Arama yaptığınız kriterlere uygun kurumlar aşağıda listelenmiştir.</p>
            @if (Model.Count > 0)
            {
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 col-sm-6 col-xxl-3">
                            <!-- project card -->
                            <div class="card">
                                <!-- project-thumbnail -->
                                <a href="@Url.Action("KurumDetay","Home",new {id=item.Id})">
                                    <img class="card-img-top" style="height:200px;" src="@ByteToImage.DecodeImage(item.Resim)" alt="blog image cap">
                                </a>
                                <div class="card-body">
                                    <div class="chart-widget-list mt-1 text-center">
                                        <p><strong>@item.Ad</strong></p>
                                        <p>@item.ilAdi.ToUpper()</p>
                                        <p>@item.ilceAdi.ToUpper()</p>
                                        <p><i class="mdi mdi-eye"></i> @item.TikSayisi Kişi İnceledi</p>
                                        <p><a href="@Url.Action("KurumDetay","Home",new {id=item.Id})" class="btn btn-sm btn-dark text-warning"><strong><i class="uil uil-corner-down-right"></i> İncele</strong></a></p>
                                    </div>
                                </div>
                            </div> <!-- end card-->
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                    <strong>Uyarı - </strong> Aradığınız kriterlere uygun kurum bulunamamıştır.
                </div>
            }
        </div>
    </div>
</div>



