@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<OzelDersOgretmenDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> iller = ViewData["iller"] as List<SelectListItem>;
    List<SelectListItem> branslar = ViewData["BransListe"] as List<SelectListItem>;
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">ÖZEL DERS VEREN ÖĞRETMEN FİLTRELE</h4>
            <p class="text-muted font-14">İl ve Branş seçeneklerine göre filtreleme yapabilirsiniz.</p>
            <div class="col-12">
                <form class="form-vertical" method="post" asp-action="OzelOgretmenFiltre" asp-controller="Home">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <select id="ilId" name="ilId" class="form-control select2" data-toggle="select2">
                                    <option value="0">İl Seçiniz</option>
                                    @foreach (var item in iller)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <select id="BransId" name="BransId" class="form-control select2" data-toggle="select2">
                                    <option value="0">Branş Seçiniz</option>
                                    @foreach (var item in branslar)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>

                        </div> <!-- end col -->
                        <div class="col-lg-2">
                            <div class="mb-2">
                                <div class="form-check form-checkbox-warning">
                                    @Html.CheckBox("OnlineSecenek",true,new {@class="form-check-input"})
                                   @* <input type="checkbox" name="OnlineSecenek" class="form-check-input" id="OnlineSecenek">*@
                                    <label class="form-check-label" for="OnlineSecenek">Online Ders Verenler</label>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-2">
                            <div class="mb-2">
                                <div class="form-check form-checkbox-warning">
                                    @Html.CheckBox("YuzyuzeSecenek",true,new {@class="form-check-input"})
                                    @*<input type="checkbox" name="YuzyuzeSecenek" class="form-check-input" id="YuzyuzeSecenek">*@
                                    <label class="form-check-label" for="YuzyuzeSecenek">Yüzyüze Ders Verenler</label>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-2 d-grid mb-2">
                            <button id="btnFiltrele" type="submit" class="btn btn-warning text-dark"><strong>Filtrele</strong></button>
                        </div> <!-- end col -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">ÖZEL DERS VERENLER</h4>
            <p class="text-muted font-14">Özel ders veren öğretmenlerin listesi aşağıda listelenmiştir.</p>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-xxl-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <a href="@Url.Action("ProfileDetail","Home",new {id=item.Id})">
                                    <img src="@ByteToImage.DecodeImage(item.Resim)" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                                </a>
                                <div class="chart-widget-list mt-1 text-center">
                                    <p><strong><a href="@Url.Action("ProfileDetail","Home",new {id=item.Id})" class="text-title text-dark"><strong>@item.AdSoyad</strong></a></strong></p>
                                    <p>@item.BransAdi</p>
                                    <p>
                                        @if (item.Online)
                                        {
                                            <span><i class="dripicons-checkmark text-success"></i> Online</span>
                                        }
                                        else
                                        {
                                            <span><i class="dripicons-cross text-danger"></i> Online</span>
                                        }
                                    </p>
                                    <p>
                                        @if (item.Yuzyuze)
                                        {
                                            <span><i class="dripicons-checkmark text-success"></i> Yüzyüze</span>
                                        }
                                        else
                                        {
                                            <span><i class="dripicons-cross text-danger"></i> Yüzyüze</span>
                                        }
                                    </p>
                                    <p><a href="@Url.Action("ProfileDetail","Home",new {id=item.Id})" class="btn btn-sm btn-dark text-warning"><strong><i class="uil uil-corner-down-right"></i> İncele</strong></a></p>
                                </div>
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                        <!-- Messages-->
                    </div>
                }
            </div>

            <div class="row">
                @Html.PagedListPager((IPagedList)Model,page=>Url.Action("OzelDersOgretmenListesi","Home",new {page}),
                new PagedListRenderOptions {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>
    </div>
</div>
