@model OzelDersOgretmenDto
@{
    List<YorumDisplayDto> yorums = ViewData["yorumlar"] as List<YorumDisplayDto>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="card text-center">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="text-xxl-start">
                        <a href="@Url.Action("OzelDersBasvuru","Home",new {id=Model.Id})" class="btn btn-danger mb-2">Başvur</a>
                    </div>
                </div><!-- end col-->
            </div>
            <img src="@ByteToImage.DecodeImage(Model.Resim)" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

            <h4 class="mb-0 mt-2">@Model.AdSoyad</h4>
            <p class="text-muted font-14">@Model.BransAdi</p>

            @if (Model.Online)
            {
                <button type="button" class="btn btn-success btn-sm mb-2" disabled>Online</button>
            }
            else
            {
                <button type="button" class="btn btn-danger btn-sm mb-2" disabled>Online</button>
            }
            @if (Model.Yuzyuze)
            {
                <button type="button" class="btn btn-success btn-sm mb-2" disabled>Yüzyüze</button>
            }
            else
            {
                <button type="button" class="btn btn-danger btn-sm mb-2" disabled>Yüzyüze</button>
            }

            <div class="text-start mt-3">
                <h4 class="font-13 text-uppercase">Hakkında :</h4>
                <p class="text-muted font-13 mb-3">
                    @Model.Hakkinda
                </p>

                <p class="text-muted mb-2 font-13">
                    <strong>Telefon :</strong><span class="ms-2">
                        @Model.Telefon
                    </span>
                </p>
                <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2 ">@Model.Email</span></p>
                <p class="text-muted mb-1 font-13"><strong>İl Adı :</strong> <span class="ms-2">@Model.ilAdi</span></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 mb-3">Yorumlar (@ViewData["yorumSayisi"])</h4>
            <form class="form-vertical" asp-action="YorumEkle" asp-controller="Home" method="post">
                <input type="hidden" value="@Model.Id" name="OzelOgretmenId" />
                <div class="mb-1">
                    <input class="form-control form-control-light" type="text" name="AdSoyad" id="AdSoyad" required="" placeholder="Adınız ve Soyadınızı Yazınız">
                </div>
                <textarea class="form-control form-control-light mb-2" name="Yorum" required placeholder="Mesajınızı yazınız..." id="example-textarea" rows="3"></textarea>
                <div class="text-end">
                    <div class="btn-group mb-2 ms-2">
                        <button type="submit" class="btn btn-primary btn-sm">Gönder</button>
                    </div>
                </div>
            </form>
            
            @if (yorums != null)
            {
                @if (yorums.Count > 0)
                {
                    @foreach (var item in yorums)
                    {
                        <hr />
                        <div class="d-flex mb-1 mt-1">
                            <div class="w-100 overflow-hidden">
                                <small class="float-end">
                                    <div class="rateit" data-yorumId="@item.Id" data-rateit-mode="font" data-rateit-readonly="false" data-rateit-value="@item.BegeniAvarege"></div>
                                </small>
                                <h6 class="m-0 font-14">@item.AdSoyad</h6>
                                <small class="text-muted">@Convert.ToDateTime(item.CreatedDate).ToShortDateString() - @Convert.ToDateTime(item.CreatedDate).ToShortTimeString()</small>
                            </div>
                        </div>
                        <p>@item.Yorum</p>
                    }
                }
            }
        </div> <!-- end card-body-->
    </div>
</div>

