@model Okul
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<SelectListItem> iller = ViewData["iller"] as List<SelectListItem>;
    List<SelectListItem> okulTurleri = ViewData["okulTurleri"] as List<SelectListItem>;
    List<SelectListItem> egitimTurleri = ViewData["egitimTurleri"] as List<SelectListItem>;
}


<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">KURUM EKLEME PANELİ</h4>
            <form class="form-vertical" data-ajax="true" enctype="multipart/form-data"
                  data-ajax-success="OnAddOkulSuccess"
                  data-ajax-begin="OnAddOkulBegin"
                  data-ajax-complete="OnAddOkulComplete" data-ajax-method="POST" asp-action="AddKurum" asp-controller="Admin">

                <div class="mb-3">
                    <label for="Ad" class="form-label">Kurum Adı</label>
                    <input class="form-control" type="text" asp-for="Ad" id="Ad" required="" placeholder="Kurum Adını Yazınız">
                </div>
                <div class="mb-3">
                    <label for="Adres" class="form-label">Adres</label>
                    <input class="form-control" type="text" asp-for="Adres" id="Adres" required="" placeholder="Kurum Adresini Yazınız">
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="Telefon" class="form-label">Telefon</label>
                        <input class="form-control" type="text" data-toggle="input-mask" data-mask-format="(000) 000-0000" maxlength="14" asp-for="Telefon" id="Telefon" required="" placeholder="Okul Telefonu Yazınız">
                    </div>
                    <div class="col-md-4">
                        <label for="Web" class="form-label">Web</label>
                        <input class="form-control" type="text" asp-for="Web" id="Web" required="" placeholder="Kurum Web Adresini Yazınız">
                    </div>
                    <div class="col-md-4">
                        <label for="Email" class="form-label">Email</label>
                        <input class="form-control" type="email" asp-for="Email" id="Email" required="" placeholder="Kurum Email Adresini Yazınız">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Whatsapp" class="form-label">Whatsapp</label>
                        <input class="form-control" type="text" data-toggle="input-mask" data-mask-format="(000) 000-0000" maxlength="14" asp-for="Whatsapp" id="Telefon" placeholder="Whatsapp Telefonu Yazınız">
                    </div>
                    <div class="col-md-3">
                        <label for="Instagram" class="form-label">Instagram</label>
                        <input class="form-control" type="text" asp-for="Instagram" id="Instagram" placeholder="Kurum Instagram hesabını Yazınız">
                    </div>
                    <div class="col-md-3">
                        <label for="Facebook" class="form-label">Facebook</label>
                        <input class="form-control" type="text" asp-for="Facebook" id="Facebook" placeholder="Kurum Facebook hesabını Yazınız">
                    </div>
                    <div class="col-md-3">
                        <label for="Twitter" class="form-label">Twitter</label>
                        <input class="form-control" type="text" asp-for="Twitter" id="Twitter" placeholder="Kurum Twitter hesabını Yazınız">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Resim" class="form-label">Resim</label>
                        <input class="form-control" type="file" asp-for="Resim" required="" id="Resim">
                    </div>
                    <div class="col-md-6">
                        <label for="TanitimVideo" class="form-label">Tanıtım Video Linki</label>
                        <input class="form-control" type="text" asp-for="TanitimVideo" id="TanitimVideo">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <select id="ilId" asp-for="ilId" class="form-control select2" data-toggle="select2">
                            <option value="0">İl Seçiniz</option>
                            @foreach (var item in iller)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div> <!-- end col -->
                    <div class="col-md-4">
                        <select id="ilceId" asp-for="ilceId" class="form-control select2" data-toggle="select2">
                            <option value="0">İlçe Seçiniz</option>
                        </select>
                    </div> <!-- end col -->
                    <div class="col-md-4">
                        <select id="EgitimTurId" asp-for="EgitimTurId" class="form-control select2" data-toggle="select2">
                            <option value="0">Eğitim Türü Seçiniz</option>
                            @foreach (var item in egitimTurleri)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div> <!-- end col -->
                </div>
                <div class="row mb-3" id="okulTurDiv" style="display:none;">
                    <div class="col-md-4">
                        <select id="OkulTurId" asp-for="OkulTurId" class="form-control select2" data-toggle="select2">
                            <option value="0">Okul Türü Seçiniz</option>
                            @foreach (var item in okulTurleri)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div> <!-- end col -->
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="Hakkinda" class="form-label">Hakkında</label>
                        <textarea rows="10" name="Hakkinda" id="Hakkinda" class="form-control resize-none" placeholder="Kurum hakkında bilgi yazınız."></textarea>
                    </div>
                </div>
                <div class="d-grid mb-2">
                    <button id="btnokulekle" type="submit" class="btn btn-primary"><i class="mdi mdi-plus"></i> Ekle </button>
                </div> <!-- end col -->
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Hakkinda");
    </script>
    <script>

        $(window).on('load',
            function () {
                $('#loading').hide();
            });


        var OnAddOkulBegin = function () {
            $("#btnokulekle").prop("disabled", true);
            $("#btnokulekle").html('Lütfen Bekleyin...');
        };
        var OnAddOkulComplete = function () {
            $("#btnokulekle").prop("disabled", false);
            $("#btnokulekle").html('<i class="mdi mdi-plus"></i> Ekle ');
        }
        var OnAddOkulSuccess = function (data) {
            if (data.Success) {
                window.location.href = '@Html.Raw(Url.Action("KurumListesi","Admin"))';
            }
            else {
                swal({
                    title: 'UYARI',
                    text: data.Message,
                    type: 'error',
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Tamam',
                });
            }
        };

        $(document).ready(function () {
            $('#ilId').on('change', function () {
                var id = $(this).val();
                var ilceListe = $("#ilceId");
                ilceListe.empty();
                $.ajax({
                    url: '@Html.Raw(Url.Action("GetSelectListilce","Admin"))',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'ilId': id },
                    success: function (data) {
                        $.each(data, function (index, option) {
                            ilceListe.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                        });
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#EgitimTurId').on('change', function () {
                var id = $(this).val();
                var okulDiv = document.getElementById('okulTurDiv');
                if (id == 1) {
                    if (okulDiv.style.display === "none") {
                        okulDiv.style.display = "block";
                    }
                }
                else
                {
                    if (okulDiv.style.display === "block") {
                        okulDiv.style.display = "none";
                    }
                }
            });
        });


    </script>
}