@using UI.Utilities;
@model List<Blog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row mb-2 mt-1">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title">
                <a href="@Url.Action("AddBlog","Admin")" class="btn btn-success btn-rounded mb-3"><i class="mdi mdi-plus"></i> Yeni Blog Ekle</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top"  src="@ByteToImage.DecodeImage(item.Resim)" alt="blog image cap">
                    <div class="card-img-overlay">
                        <div class="badge bg-secondary text-light p-1">@item.CreatedDate</div>
                    </div>

                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            <a href="/Home/BlogDetail/@item.Id" target="_blank" class="text-title">@item.Baslik</a>
                        </h4>

                        <!-- project detail-->
                        <p class="mb-1">
                            <span class="pe-2 text-nowrap">
                                <i class="mdi mdi-eye"></i>
                                <b>@item.Hit</b>
                            </span>
                            @*<span class="text-nowrap">
                    <i class="mdi mdi-comment-multiple-outline"></i>
                    <b>104</b> Comments
                    </span>*@
                        </p>
                        @if (item.UpdatedDate != null)
                        {
                            <p class="mb-3">
                                <span class="pe-2 text-nowrap">
                                    <i class="mdi mdi-update"></i>
                                    <b>@item.UpdatedDate</b>
                                </span>
                            </p>
                        }
                        <div class="mb-1">
                            <a href="#" id="btnblogSil" data-id="@item.Id" class="btn btn-danger btn-small ">Sil</a>
                            <a href="@Url.Action("BlogGuncelle","Admin",new {id=item.Id })" class="btn btn-success btn-small ">Güncelle</a>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        }
    }
    else
    {
        <div class="body">
            <div class="card-body">
                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                    <strong>Uyarı - </strong> Blog listesi boş.
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).on("click", "#btnblogSil", function () {
            var id = $(this).data("id");
            swal({
                title: "UYARI",
                text: "Blog bilgilerini silmek istediğinize emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: 'btn-danger',
                cancelButtonClass: 'btn-success',
                confirmButtonText: "EVET",
                cancelButtonText: "HAYIR",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '/Admin/BlogSil/' + id,
                    type: 'POST',
                    success: function (result) {
                        if (result.Success == true) {
                            swal({
                                title: "BAŞARILI!",
                                type: "success",
                                text: result.Message,
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: "Tamam"
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = '@Url.Action("Blog", "Admin")';
                                }
                            });
                        }
                        else {
                            swal({
                                title: 'HATA',
                                text: result.Message,
                                type: 'error',
                                confirmButtonClass: 'btn-danger',
                                confirmButtonText: 'Tamam',
                            });
                        }
                    }
                });
            });
        });
    </script>
}