@model Blog
@{
    ViewData["Title"] = "BlogGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">BLOG GÜNCELLEME PANELİ</h4>
            <p class="text-muted font-14">Blog yazısı eklemek için aşağıdaki formu doldurunuz.</p>
            <form class="form-vertical" data-ajax="true" enctype="multipart/form-data"
                  data-ajax-success="OnUpdateBlogSuccess"
                  data-ajax-begin="OnUpdateBlogBegin"
                  data-ajax-complete="OnUpdateBlogComplete" data-ajax-method="POST" asp-action="BlogGuncelle" asp-controller="Admin">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="mb-3">
                    <label for="Baslik" class="form-label">Başlık</label>
                    <input value="@Model.Baslik" class="form-control" type="text" name="Baslik" id="Baslik" placeholder="Blog Başlığını Yazınız">
                </div>
                 <div class="mb-3">
                    <label for="AdSoyad" class="form-label">Yazar Adı Soyadı</label>
                    <input class="form-control" type="text" value="@Model.AdSoyad" name="AdSoyad" id="AdSoyad" required="" placeholder="Yazar Ad Soyad Yazınız">
                </div>
                <div class="mb-3">
                    <label for="Aciklama" class="form-label">Açıklama</label>
                    <input class="form-control" type="text" value="@Model.Aciklama" name="Aciklama" id="Aciklama" maxlength="250" data-toggle="maxlength" data-placement="top" required="" placeholder="Blog için kısa açıklama Yazınız">
                </div>
                <div class="mb-3">
                    <img class="card-img-top" style="height:150px;width:150px" src="@ByteToImage.DecodeImage(Model.Resim)" alt="blog image cap"><br />
                    <label for="Resim" class="form-label mt-1">Resim</label>
                    <input class="form-control" type="file" name="Resim" id="Resim">
                </div>
                <div class="mb-3">
                    <label for="Konu" class="form-label">Konu</label>
                    <textarea rows="10" asp-for="Konu" id="Konu" class="form-control resize-none" placeholder="Blog içeriğini yazınız.">@Model.Konu</textarea>
                </div>
                <div class="d-grid mb-0 text-center">
                    <button class="btn btn-primary" id="btnupdateBlog" type="submit"><i class="mdi mdi-pencil"></i> Güncelle </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(window).on('load',
            function () {
                $('#loading').hide();
            });

        var OnUpdateBlogBegin = function () {
            $("#btnupdateBlog").prop("disabled", true);
            $("#btnupdateBlog").html('Lütfen Bekleyin...');
            $('#loading').show();
        };
        var OnUpdateBlogComplete = function () {
            $("#btnupdateBlog").prop("disabled", false);
            $("#btnupdateBlog").html('<i class="mdi mdi-pencil"></i> Güncelle ');
            $('#loading').hide();
        }
        var OnUpdateBlogSuccess = function (data) {
            if (data.Success) {
                window.location.href = '@Html.Raw(Url.Action("Blog","Admin"))';

            }
            else {
                swal({
                    title: 'UYARI',
                    text: data.message,
                    type: 'error',
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Tamam',
                });
            }
        };
    </script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Konu");
    </script>
}

