@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Okul kurum = ViewData["Kurum"] as Okul;
    List<KurumYorumDisplayDto> yorumlar = ViewData["yorumlar"] as List<KurumYorumDisplayDto>;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@kurum.Ad</h4>
        </div>
    </div>
</div>
<div class="row">
    <!-- Right Sidebar -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- Left sidebar -->
                <div class="page-aside-left">
                    @await Component.InvokeAsync("KurumMenu",new {id=kurum.Id})
                </div>
                <!-- End Left sidebar -->

                <div class="page-aside-right">
                    <div class="mt-1">
                        <div class="row">
                            <h4 class="header-title">YORUMLAR (@ViewData["yorumSayisi"])</h4>
                            @if (yorumlar.Count > 0)
                            {
                                <table id="basic-datatable" class="table dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Ad Soyad</th>
                                            <th>Yorum</th>
                                            <th>Puan</th>
                                            <th>Eklenme Tarihi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in yorumlar)
                                        {
                                            <tr>
                                                <td>@item.AdSoyad</td>
                                                <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Yorum</td>
                                                <td>@item.BegeniAvarege</td>
                                                <td>@Convert.ToDateTime(item.CreatedDate).ToShortDateString() - @Convert.ToDateTime(item.CreatedDate).ToShortTimeString()</td>
                                                <td><button type="button" class="btn btn-sm btn-danger" data-id="@item.Id" id="btnyorumSil">Sil</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                    <strong>Uyarı - </strong> Yorum listesi boş.
                                </div>
                            }
                        </div>
                    </div>
                    <!-- end row-->
                </div>
                <!-- end inbox-rightbar-->
            </div>
            <!-- end card-body -->
            <div class="clearfix"></div>
        </div> <!-- end card-box -->
    </div> <!-- end Col -->
</div>
@section Scripts{

    <script>
        $(document).on("click", "#btnyorumSil", function () {
            var id = $(this).data("id");
            swal({
                title: "UYARI",
                text: "Yorumu silmek istediğinize emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: 'btn-danger',
                cancelButtonClass: 'btn-success',
                confirmButtonText: "EVET",
                cancelButtonText: "HAYIR",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '/Admin/KurumYorumSil/' + id,
                    type: 'POST',
                    success: function (result) {
                        if (result.Success == true) {
                            swal({
                                title: "BAŞARILI!",
                                type: "success",
                                text: result.Message,
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: "Tamam"
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = '@Url.Action("Yorumlar", "Admin",new {id=kurum.Id})';
                                }
                            });
                        }
                        else {
                            swal({
                                title: 'HATA',
                                text: result.Message,
                                type: 'error',
                                confirmButtonClass: 'btn-danger',
                                confirmButtonText: 'Tamam',
                            });
                        }
                    }
                });
            });
        });
    </script>
}
