
@{
    Okul kurum = ViewData["Kurum"] as Okul;
}
<div class="d-grid">
    <a href="@Url.Action("KurumGuncelle","Admin",new{id=kurum.Id})" class="btn btn-danger">Bilgileri Güncelle</a>
</div>
<div class="email-menu-list mt-3">
    <a href="@Url.Action("KurumDetay","Admin",new {id=kurum.Id})"><i class="dripicons-star me-2"></i>Okul Anasayfa</a>
    <a href="@Url.Action("KullaniciListesi","Admin",new{id=kurum.Id})"><i class="dripicons-star me-2"></i>Kullanıcılar</a>
    <a href="@Url.Action("OgretmenListesi","Admin",new{id=kurum.Id})"><i class="dripicons-star me-2"></i>Öğretmen Kadrosu</a>
    <a href="@Url.Action("EgitimModeli","Admin",new{id=kurum.Id})"><i class="dripicons-clock me-2"></i>Eğitim Modeli</a>
    <a href="@Url.Action("Basarilar","Admin",new{id=kurum.Id})"><i class="dripicons-document me-2"></i>Başarılar</a>
    <a href="@Url.Action("Kataloglar","Admin",new{id=kurum.Id})"><i class="dripicons-exit me-2"></i>Kataloglar</a>
    <a href="@Url.Action("IcGorseller","Admin",new{id=kurum.Id})"><i class="dripicons-trash me-2"></i>İç Görsel</a>
    <a href="@Url.Action("DisGorseller","Admin",new{id=kurum.Id})"><i class="dripicons-tag me-2"></i>Dış Görsel</a>
    <a href="@Url.Action("Etkinlikler","Admin",new{id=kurum.Id})"><i class="dripicons-warning me-2"></i>Etkinlikler</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Kulüpler</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Tanıtım Videosu</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Hakkında</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Yorumlar</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>İndirimler</a>
    <a href="javascript: void(0);"><i class="dripicons-warning me-2"></i>Bursluluk Sınavları</a>
</div>