
@{
    Okul kurum = ViewData["Kurum"] as Okul;
}
<div class="d-grid">
    <a href="@Url.Action("KurumGuncelle","Admin",new{id=kurum.Id})" class="btn btn-danger">Bilgileri Güncelle</a>
</div>
<div class="email-menu-list mt-3">
    <a href="@Url.Action("KurumDetay","Admin",new {id=kurum.Id})">Kurum Anasayfa</a>
    <a href="@Url.Action("KullaniciListesi","Admin",new{id=kurum.Id})">Kullanıcılar</a>
    <a href="@Url.Action("OgretmenListesi","Admin",new{id=kurum.Id})">Öğretmen Kadrosu</a>
    <a href="@Url.Action("EgitimModeli","Admin",new{id=kurum.Id})">Eğitim Modeli</a>
    <a href="@Url.Action("Basarilar","Admin",new{id=kurum.Id})">Başarılar</a>
    <a href="@Url.Action("Kataloglar","Admin",new{id=kurum.Id})">Kataloglar</a>
    <a href="@Url.Action("IcGorseller","Admin",new{id=kurum.Id})">İç Görsel</a>
    <a href="@Url.Action("DisGorseller","Admin",new{id=kurum.Id})">Dış Görsel</a>
    <a href="@Url.Action("Etkinlikler","Admin",new{id=kurum.Id})">Etkinlikler</a>
    <a href="@Url.Action("Kulupler","Admin",new{id=kurum.Id})">Kulüpler</a>
    <a href="@Url.Action("TanitimVideo","Admin",new{id=kurum.Id})">Tanıtım Videosu</a>
    <a href="@Url.Action("Yorumlar","Admin",new{id=kurum.Id})">Yorumlar</a>
    <a href="@Url.Action("indirimler","Admin",new{id=kurum.Id})">İndirimler</a>
    <a href="@Url.Action("BurslulukSinavlari","Admin",new{id=kurum.Id})">Bursluluk Sınavları</a>
</div>